/*  */
.al-toggle-button {
    appearance: none;
    -webkit-appearance: none;
    position: relative;
    width: 48px;
    height: 28px;
    background: #dfdfdf;
    border-radius: 16px;
    border: 1px solid #dfdfdf;
    outline: 0;
    box-sizing: border-box;
    top: -4px;
    vertical-align: middle;
}

.al-toggle-button:checked {
    border-color: #04be02;
    background-color: #04be02;
}

.al-toggle-button:before,
.al-toggle-button:after {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    height: 26px;
    border-radius: 15px;
    transition: transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
}

.al-toggle-button:before {
    width: 46px;
    background-color: #fdfdfd;
}

.al-toggle-button:after {
    width: 26px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.al-toggle-button:checked:before {
    transform: scale(0);
    -webkit-transform: scale(0);
}

.al-toggle-button:checked:after {
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
}
/*  */
.btn{
    border-radius: 0;
    margin: 0 5px;
}
.btn-block-d{
    color: #f84221;
    background:transparent;
    border-color: #f84221;
}
.btn-block-o{
    color: #fff;
    background-image: -webkit-linear-gradient(to right, #f84221, #fd8024);
    background-image: linear-gradient(to right, #f84221, #fd8024);
}



